weatherMinApp/src/pages/about/about.vue
weatherMinApp/src/pages/cityChoose/cityChoose.vue
weatherMinApp/src/pages/setting/setting.vue
weatherMinApp/src/pages/systeminfo/systeminfo.vue
weatherMinApp/static/image/arrow.png
weatherMinApp/static/image/carwashing.png
weatherMinApp/static/image/city.png
weatherMinApp/static/image/clothing.png
weatherMinApp/static/image/danger.png
weatherMinApp/static/image/email.png
weatherMinApp/static/image/github.png
weatherMinApp/static/image/heartbeat.png
weatherMinApp/static/image/info.png
weatherMinApp/static/image/location.png
weatherMinApp/static/image/location_grey.png
weatherMinApp/static/image/logo.png
weatherMinApp/static/image/logo_circle.png
weatherMinApp/static/image/menu.png
weatherMinApp/static/image/mobile.png
weatherMinApp/static/image/more.png
weatherMinApp/static/image/pill.png
weatherMinApp/static/image/qq.png
weatherMinApp/static/image/question.png
weatherMinApp/static/image/running.png
weatherMinApp/static/image/search.png
weatherMinApp/static/image/search_grey.png
weatherMinApp/static/image/setting.png
weatherMinApp/static/image/sun.png
weatherMinApp/static/image/unlock.png
weatherMinApp/static/image/weather.png
weatherMinApp/static/image/wechat.png
